<div class="container">
  <h1>Welcome to</h1>
  <p>JavaScript Racer</p>


  <form id="players" method="post" action="/">
    <input type="text" name="players[player1]" placeholder="player one">
    <input type="text" name="players[player2]" placeholder="player two">
    <input type="submit" value="submit">
  </form>

</div>

<div class="added">
  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"></td>
      <td class='inactive'></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

</div>
